{% extends "layout.jinja2"%}
{% block body %}
 <div class="row">
    <div class="col-md-8">
        <h1>About Me</h1><hr>
            <Section>
   
              <div class="row">
                  <div class="col-lg-12">
                      <img src="../static/1.jpg"><br />
                      My name is Regenal Grant, I am a world traveler, grew in various countries attend several Universities finally graduating Washington State Unversity and volunteering in the US Army as an infantry soldier, evenually joining the ranks in the Special Operations community, eventually retire due to various injuries.
                  </div>
              </div><hr>
              <div class="row">
                <div class="col-md-6 col-lg-6">
                  <h2>Contact Me</h2>
                  <ul>
                    <a href="https://www.linkedin.com/in/Regenal Grant" target="_blank"><li>LinkedIn</li></a>
                    <a href="https://github.com/regenalgrant" target="_blank"><li>GitHub</li></a>
                    <a><li>Gmail</li></a>
                  </ul>
                </div>
              </div>
              <p class="lead"></p>
            </Section>
            
    </div>

</div>
{% endblock %}