<!DOCTYPE HTML>
<html>
<head>
  <title>Learning Journal</title>
  <meta charset="utf-8">
    <link rel = "stylesheet" type= "text/css" href = "normalize.css"/>
    <link rel = "stylesheet" type= "text/css" href = "styles.css"/>
</head>


<body>
  <header>
    <h1 id="title">Regenal Grant Learning Journal</h1>
    <nav>
      <ul>
        <li class="three columns nav-links"><a href="index.html" id="home">Home</a></li>
        <li class="three columns nav-links" ><a href="#" id="about">About</a></li>
        <li class="three columns nav-links"><a href="https://twitter.com">Twitter</a></li>
        <li class="three columns nav-links"><a href="create.html">Create</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <h2>Journal Entries</h2>
      <ul class="journal">
        <li><a href="form.html">Journal Entry</a></li>Created: 12/18/16</li></br>
      </ul>
  </main>

</body>
</html>
